* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: green;
  text-align: center;
}
.container {
  margin: 40px auto;
  max-width: 600px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.up-section label {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
}
label,
input,
button {
  color: grey;
  padding: 5px 10px;
  font-size: 15px;
  margin: 5px 5px;
  width: auto;
}
/* .person {
  padding-top: 5px;
  font-size: 15px;
} */

.person-row {
  display: flex;
  justify-content: space-between; /* pushes text left, button right */
  align-items: center; /* vertically centers */
  margin: 8px 0;
}

.person {
  margin: 0; /* remove extra spacing from <p> */
}
.success {
  /* color: green; */
  /* background: lightgrey; */
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
